.App {
  margin: 0;
  text-align: center;
  /* background-image: linear-gradient(to bottom, transparent 0%, #000000 70%), url("../images/sunnyBackground.jpg"); */
  /* background-image: url('../images/sunnyBackground.jpg'); */
  background-image: linear-gradient(to bottom, transparent 0%, #000000 99%), url("../images/sunnyBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

header {
  background-color: transparent;
}

body {
  /* background-image: linear-gradient(to bottom, transparent 0%, #000000 99%), url("../images/sunnyBackground.jpg"); */
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: black
}


.card {
  display: flex;
  flex: 1;
  align-items: center;

  /* Align items with space between */
}

.cardbox {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;

}

.character_image {
  height: 110px;
  width: 60px;
  padding-bottom: 2%;
}