.App {
  margin: 0;
  text-align: center;
  /* background-image: linear-gradient(to bottom, transparent 0%, #000000 70%), url("../images/sunnyBackground.jpg"); */
  /* background-image: url('../images/sunnyBackground.jpg'); */
  background-image: linear-gradient(to bottom, transparent 0%, #000000 99%), url("../images/sunnyBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: transparent;
}

body {
  /* background-image: linear-gradient(to bottom, transparent 0%, #000000 99%), url("../images/sunnyBackground.jpg"); */
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: transparent;
}


.card {
  display: flex;
  flex: 1;
  /* Set display property to flex */
  justify-content: space-evenly;
  align-items: center;

  /* Align items with space between */
}

.cardbox {
  padding: 2%;
  /* Distribute available space evenly among the boxes */
  background-color: grey;

}

.character_image {
  height: 110px;
  width: 60px;
  padding-bottom: 2%;
}